<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main-layout">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<div layout:fragment="content">
    <div class="pageHeader">Edit User: <span th:text="${userData.username}"/></div>

    <div class="addUserForm">
        <form th:object="${userData}" th:action="@{/admin/userData/{userId}(userId = ${userData.userId})}" th:method="post">
            <div>
                <label>User ID: <input type="text" th:value="${userData.userId}" th:field="*{userId}"></label>
            </div>
            <div>
                <label>User Name: <input type="text" th:value="${userData.username}" th:field="*{username}"></label>
            </div>
            <div>
                <label>Age: <input type="text" th:value="${userData.age}" th:field="*{age}"></label>
            </div>
            <div>
                <label for="gender">Gender:
                    <select id="gender" th:field="*{gender}">
                        <option th:each="gender: ${genders}" name="gender" th:value="${gender}" th:text="${gender}" th:selected="${gender == userData.gender}"></option>
                    </select>
                </label>
            </div>
            <div>
                <label for="department">Department:
                    <select id="department" th:field="*{department.departmentNumber}">
                        <option name="department" value="-1"></option>
                        <option th:each="department: ${departments}" name="department" th:value="${department.departmentNumber}" th:text="${department.departmentName}" th:selected="${department.departmentNumber == userData.department.departmentNumber}"></option>
                    </select>
                </label>
            </div>
            <div>
                <label for="major">Major:
                    <select id="major" th:field="*{major.majorNumber}">
                        <option th:name="major" value="-1"></option>
                        <option th:each="major: ${majors}" name="major" th:value="${major.majorNumber}" th:text="${major.majorName}" th:selected="${major.majorNumber == userData.major.majorNumber}"></option>
                    </select>
                </label>
            </div>
            <div>
                <label>Phone: <input type="text" th:value="${userData.phone}" th:field="*{phone}"></label>
            </div>
            <div>
                <label>Email: <input type="text" th:value="${userData.email}" th:field="*{email}"></label>
            </div>
            <div>
                <label for="role">Role:
                    <select th:field="*{role.roleId}">
                        <option th:each="role: ${roles}" name="role" id="role" th:value="${role.roleId}" th:text="${role.roleName}" th:selected="${role.roleId == userData.role.roleId}"></option>
                    </select>
                </label>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
</body>
</html>