<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="pageHeader">Users</div>

<div class="right-align">
    <a th:href="@{/admin/user}" class="addNewUser">Add User</a>
</div>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Major</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.userId}"/>
        <td th:text="${user.username}"/>
        <td th:text="${user.age}"/>
        <td th:text="${user.gender}"/>
        <td th:text="${user.department}"/>
        <td th:text="${user.major}"/>
        <td th:text="${user.phone}"/>
        <td th:text="${user.email}"/>
        <td th:text="${user.role}"/>
    </tr>
    </tbody>
</table>
</body>
</html>