<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main-layout">
<head>
    <meta charset="UTF-8">
    <title>User Home Page</title>
</head>
<body>
<div layout:fragment="content">
    <div class="pageHeader">Users</div>

    <div class="userTable">
        <table>
            <thead>
            <tr>
                <th>User Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Major</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userData : ${userDatas}">
                <td><a th:href="@{/admin/user/{userId}(userId=${userData.userId})}" th:text="${userData.userId}"/></td>
                <td th:text="${userData.username}"/>
                <td th:text="${userData.age}"/>
                <td th:text="${userData.gender}"/>
                <td><span th:if="${userData.department}" th:text="${userData.department.departmentName}"></span></td>
                <td><span th:if="${userData.major}" th:text="${userData.major.majorName}"></span></td>
                <td th:text="${userData.phone}"/>
                <td th:text="${userData.email}"/>
                <td><span th:if="${userData.role}" th:text="${userData.role.roleName}"></span></td>
                <td><span th:if="${userData.userId != user.username}" class="deleteAction">
                    <a th:href="@{/admin/user/{userId}/delete(userId=${userData.userId})}"><i class="fas fa-trash-alt"></i></a>
                </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div layout:fragment="scripts">
    <script th:src="@{/js/admin.js}"></script>
</div>
</body>
</html>